# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS
gallery2/
node_modules/
wp-content/uploads/2008
wp-content/uploads/2009
wp-content/uploads/2010
wp-content/uploads/2011
wp-content/uploads/2012
wp-content/uploads/2013
